<h1>IdeaBox</h1>
<form action='/' method='POST'>
  <p>
    Your Idea:
  </p>
  Title<br/>
  <input type='text' name='idea[title]'/><br/>
  Description<br/>
  <textarea name='idea[description]'></textarea><br/>
  Tag<br/>
  <input type='text' name='idea[tag]'/><br/>
  <input type='submit' value='Submit Your Idea!'/>
</form>

<h3>Existing Ideas</h3>

<ul>
  <% ideas.each do |idea| %>
    <li>
      <%= idea.title %> (<%= idea.rank %>)<br/>
      <%= idea.description %><br/>
      Tag: <%= idea.tag %><br/>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='submit' value="I love this idea!"/>
      </form><br/>
      <a href="/<%= idea.id %>/edit">Edit</a>
      <form action="/<%= idea.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete this idea now!"/>
      </form>
    </li>
  <% end %>
</ul>
